HCA_CID="HACKCLUB_AUTH CLIENT_ID"
HCA_SID="HACKCLUB_AUTH_SECRET_ID"
AirTableAPIK="AIRTABLE_API_KEY"
AirTableBID="AIRTABLE_BASE_ID"
SlackBT="SLACK_BOT_TOKEN"
HaktimeAPIK="HACKATIME_API_KEY"
HaktimeUID="HACKATIME_UID"
HAKTIME_AUTH_REDIRECT_URI="HACKATIME_REDIRECT_URI"
HACKCLUB_AUTH_REDIRECT_URI="HACKCLUB_AUTH_REDIRECT_URI"
HCDN_APIK="HACKCLUB_CDN_API_KEY"
