@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Questrial&display=swap');

html, body {
  background-color: #232F3E;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
body {
  font-family: "Questrial", sans-serif;
  background-color: #000000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #D9D5C8;
  box-sizing: border-box;
  padding: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  height: 3em;
  width: 100%;
  background-color: #131921;
  box-sizing: border-box;
  gap: 0.7em;
  border-bottom: 2px solid #A6A6A6;
  padding: 0.2em;
  align-items: center;
  margin:0;
}

.info-stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.1em;
  min-width: 0;
  margin-left:auto;
}

.right {
  display: flex;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
}

vr{
  border: 1px solid #A6A6A6;
  height:100%;
}
.location p{
  font-size:0.8em;
  line-height:1em;
  margin:0;
  color:#D9D5C8;
}
.location > div{
  display: flex;
  align-items: center;
  gap: 0.1em;
}
.location span{
  font-size:0.9em;
  line-height:1em;
  margin:0;
}
.location img{
  display: block;
}
.helm{
  font-size:0.2em;
  line-height:1.2em;
  margin:0;
  color:#D9D5C8;
}
.navitem{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.navitem:hover{
  background-color: #3b4238;
  border-radius: 0.2em;
}
.right{
  margin-left: auto;
}
.shopnotif{
  width:100%;
  font-size:0.7em;
  line-height:0.9em;
  min-height: 1em;
  display:flex;
  align-items:center;
  padding-inline: 0.35em;
  box-sizing: border-box;
  border-bottom: 1px solid #A6A6A6;
}
.navtec{
  width: 100%;
  display: flex;
  flex-direction: column;
}